h1 {
  margin: 10px;
}
.split {
  height: 90%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 5%;
  overflow-x: hidden;
  padding-top: 20px;
}

  .left {
    left: 0;
    width: 30%
  }

  .right {
    right: 0;
    width:65%;
    text-align: center;
  }